.clientContianer {
  background-color: var(--secondary-contrast-color);
  box-shadow: 0 0 5px var(--text-color);
  width: 100%;
  border-radius: 10px;
}


.gridContainer {
  display: grid;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);

}

@media (min-width: 400px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100px;
}

.logo {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}