.footericons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    object-fit: contain;
    
}