footer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-contrast-color);
    border-radius: 10px;
    width: 100%;
}

.footericons {
    display: flex;
    flex-direction: row;
    align-self: center;
}

footer img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}