.serviceNeeds {
    background-color: var(--secondary-contrast-color);
    box-shadow: 0 0 5px var(--text-color);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 1.6;
    padding: 10px;
    z-index: 0;
}


.serviceNeeds ul {
    text-align: justify;
    text-justify: inter-word;
}

.serviceNeeds ul::after {
    width: 100%;
    display: inline-block;
    content: ".";
    visibility: hidden;
    height: 0;
    clear: both;
    text-justify: inter-word;

}

.serviceNeeds li {
    font-size: var(--font-size-h3);
    text-justify: inter-word;


}