.testimony-component-container {
    display: flex;
    flex-direction: row;
    min-height: 55vh;
    max-width: 60vh;
    align-items: center;
}
.testimony-inner-container {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px var(--text-color);
    margin: 1rem;
    padding: 1rem;
}


.buttonTestimony {
    display: flex;
    align-self: center;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-primary);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px var(--text-color);
    border: none;
    border-radius: 5px;
}