.title {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background {
    display: flex;
    flex-direction: column;
    min-height:inherit;
    min-width: inherit;
    background-image: url('/assets/images/bg_1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.title h1,
.title h3,
.title p {
    color: var(--secondary-text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin: 0;
}
.title h1 {
    font-size: 3rem;
}

.title p {
    font-size: 1.5rem;
}
.title h3 {
    display: flex;
    align-self: center;
    flex-grow: 0;
    font-size: 2rem;
}


.heroTitle {
    display: flex;
    flex-direction: column;
    max-width: 80ch;
    overflow-wrap: break-word;
    flex-grow: 1;
    justify-content: center;
}

.title img {  
    display: flex;
    width: 40%;
    height: 40%;
    margin: 05%;
    align-self: flex-end;
}