.title {
    text-align: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background {
    display: flex;
    flex-direction: column;
    min-height:inherit;
    min-width: inherit;
    background-image: url('/assets/images/bg_1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    filter: brightness(0.5);
}

.title h1,
.title h3,
.title p { 
    filter: brightness(0);
}

.title h3 {
    display: flex;
    align-self: center;
    flex-grow: 0;
}

.title p {
    font-size: 0.6rem;
}

.heroTitle {
    display: flex;
    flex-direction: column;
    max-width: 40ch;
    overflow-wrap: break-word;
    flex-grow: 1;
    justify-content: center;
}

img {   
    display: flex; 
    align-self: center;
    width: 20%;
    height: 20%;
}